<div ng-controller="footprintCtrl" style="height: 100%">
    <header class="header" style="text-align: center; height: 100%">
        <div class="header-background" style="z-index: -1"></div>
        <div class="header-background-2"></div>
        <div class="title" style="position: absolute; top: 40%; width: 100%;">
            <h1>
                Hi, I'm Paul Zhang.
            </h1>
        </div>
        <div style="bottom: 50px; position: fixed; color: white; width: 100%">
            <div style="text-align: center; cursor: pointer" ng-click="showUp()">click to start</div>
            <br>
            <i class="fa fa-arrow-down fa-2x" data-info="click to start" style="cursor: pointer" ng-click="showUp()"></i>
        </div>
    </header>
    <!--section id="intro" class="content">
        <div>{{a}}</div>
    </section-->
</div>